*{
    text-align: center;
}
h1{
    color: blueviolet; 
    font-size: 40px;

}
h2 {color: red; 
    background: rgb(240, 240, 169);  
}

h3 {
    color: blue; 
    font-size: 20px; 

}
p {font-family: Arial, Helvetica, sans-serif; 

}
button {color: white; 
    background: black;
    border-radius: 10px; 
}

/* comentarios largos */
